<!DOCTYPE html>
<html>
<head>
  <title>AccessControl</title>
  <%= stylesheet_link_tag    "access_control/application", :media => "all" %>
  <%= javascript_include_tag "access_control/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
