form {
  ol {
    list-style: none; 
    margin: 1em;
    padding: 0;
  }

  label {
    display: block;
    font-weight: bold
  }
}

ol.tracks {
  list-style: none;

  li {
    float: left;
  }
}

ul.actions {
  clear: both;
  list-style: none; 
  margin: 1em;
  padding: 0;
}

area {
  background-color: green;
} 